{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password', {menuIndex: app.request.get('menuIndex'), submenuIndex: app.request.get('submenuIndex'), eaContext: app.request.get('eaContext')}), 'attr': { 'class': 'fos_user_change_password' } }) }}
{{ form_widget(form) }}
<div>
    &nbsp;
    <div class="page-actions float-right">
        <input type="submit" value="{{ 'change_password.submit'|trans }}"  class="action-saveAndReturn btn btn-primary action-save"/>
    </div>
</div>
{{ form_end(form) }}
