/**
 * Components
 * 
 * @author Alberto Manuel Ochoa Fabre <maochoa31415@gmail.com>
 * @package Cine Cubano Online
 * 
 * The prefix for class names and variables names is: 'cco'
 */

.cco-btn-rounded {
    border-radius: 50px !important;
}

// Icon badges
.nav-link {
    .mdi {
        position: relative;

        // Badge indicator
        .cco-badge-dot {
            position: absolute;
            top: -6px;
            right: 0;
            background-color: $red-400;
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}

// Modals
.modal {
    .modal-content {
        border-radius: $modal-border-radius;
        background-color: $modal-content-bg;

        .modal-footer {
            border-top: solid 1px $modal-footer-border-color;
        }
    }
}