@import './colors';

/**
 * Variables
 * 
 * @author Alberto Manuel Ochoa Fabre <maochoa31415@gmail.com>
 * @package Cine Cubano Online
 * 
 * The prefix for class names and variables names is: 'cco'
 * 
 * Custom variables here
 */

// Base
$cco-border-radius: 1em;

/**
 * Custom Components
 * 
 */

// Switch
$cco-switch-size: 38;
$cco-switch-border-radius: ($cco-switch-size * 0.5667 * 1px);
$cco-switch-slider-size: ($cco-switch-border-radius * 0.7647);
$cco-switch-slider-margin: ($cco-switch-slider-size * 0.1538);

/**
 * Override Bootstrap and Material Bootstrap variables here
 */

// Modals
$modal-border-radius: $cco-border-radius;
$modal-content-bg: $grey-100;