<div class="container pt-5 pb-3">
    <div class="row justify-content-center">
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cco-social-media-footer py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="cco-copy text-muted">&copy; Copyright - {{ 'now'|date('Y') }} - CineCubano Online</div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="mdi mdi-facebook"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="mdi mdi-twitter"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="mdi mdi-instagram"></span>
                </a>
            </li>
        </ul>
    </div>
</div>