<div class="container m-auto">
    <h1 class="jumbotron-heading text-light">CineCubano Online</h1>
    <p class="lead text-light">{{'app.home.intro.message'|trans}}</p>
    <div class="d-flex justify-content-center">
        <a id="cco-goto-services" href="#" class="btn cco-btn-rounded text-light mr-3" data-scrollto="#cco-services" >{{'app.home.intro.services'|trans }}</a>
        <a id="cco-goto-articles" href="#" class="btn cco-btn-rounded text-light" data-scrollto="#cco-articles">{{'app.home.intro.articles'|trans }}</a>
    </div>
</div>

<!--[ Social media ]-->
<div class="cco-social-media-main-section">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link cco-media-facebook" href="#">
                <span class="mdi mdi-facebook cco-media-facebook"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="mdi mdi-twitter cco-media-twitter"></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="mdi mdi-instagram cco-media-instagram"></span>
            </a>
        </li>
    </ul>
</div>